.App {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
  padding: 0;
  width: 100%;
}

body{
  margin: 0;
  overflow-x: hidden;
  min-width: 320px;
  min-height: 100vh;
}